* {
    padding: 0;
    margin: 0;
}


header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #f2f2f2;
}

.headerdiv h1 {
    color: rgba(167, 167, 167, 0.829);
}

.navbar {
    display: flex;
    flex-direction: row;
}

.fa {
    font-size: 25px;
    margin-right: 10px;
}

.fa-bars {
    font-size: 30px;
    margin-right: 25px;
    color: rgba(34, 34, 34, 0.829);
}

.fa-facebook {
    width: 30px;
    height: 30px;
    background-color: rgb(59, 89, 152);
    color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-twitter {
    width: 30px;
    height: 30px;
    background-color: rgb(85, 172, 238);
    color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-instagram {
    width: 30px;
    height: 30px;
    background-color: rgb(197, 54, 164);
    color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstmain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 20px 20px;
}

.firstmain_div1 {
    width: 40%;
    box-sizing: border-box;
    padding: 100px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.firstmain_div1 h1 {
    font-size: 64px;
    color: #359756;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1200;
    margin-right: 10px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.firstmain_div1 span {
    color: #111111;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
}

.firstmain_div1 a {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-style: none none solid;
    border-color: #4bd673;
}

.firstmain_div11 {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.firstmain_div11 div {
    width: 45%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.div11_1 {
    background-color: #359756;
    color: white;
    font-size: 25px;
}

.div11_1 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-style: none;
}

.div11_2 {
    background-color: #e5e5e5;
    color: white;
    font-size: 25px;
}

.div11_2 i {
    color: #111111;
}

.div11_2 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #111111;
    font-weight: 700;
    border-style: none;
}

.firstmain_div2 {
    width: 50%;
    box-sizing: border-box;
    padding: 100px;
}

.firstmain_div2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.secondmain {
    width: 100%;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secondmain_div1 {
    width: 40%;
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}

.secondmain_div1 h1 {
    font-size: 60px;
    color: #359756;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
    line-height: 1.1;
    margin-bottom: 35px;
    margin-top: 300px;
}

.secondmain_div1 p {
    color: #111111;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.secondmain_div1 button {
    width: 50%;
    height: 60px;
    border-radius: 8px;
    background-color: #359756;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 1px;
    color: white;
    border: none;
}

.secondmain_div2 {
    width: 60%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.seconddiv2_fp {
    width: 45%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.secondmain_div21 {
    width: 100%;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 2px rgb(212, 206, 206);
    background-color: white;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondmain_div21 i {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #baefcc;
    font-size: 60px;
    color: #3597567e;
}

.secondmain_div21 button{
    width: 30%;
    height: 35px;
    border-radius: 50px;
    background-color: #359756;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 501;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 1px;
    color: white;
    border: none;
}

.secondmain_div21 h3 {
    color: #359756;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.secondmain_div21 p {
    color: #11111180;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

.secondmain_div21 a {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-style: none none solid;
    border-color: #359756;
    margin-top: 30px;
}

.last {
    margin-top: 20px;
}


.secondmain_div22 {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 2px rgb(212, 206, 206);
    background-color: white;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondmain_div22 i {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #baefcc;
    font-size: 60px;
    color: #3597567e;
}

.secondmain_div22 h3 {
    color: #359756;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.secondmain_div22 p {
    color: #11111180;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

.secondmain_div22 a {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-style: none none solid;
    border-color: #359756;
    margin-top: 30px;
}

.thirdpart {
    width: 100%;
    background-color: #f2f2f2; 
    background-image: url(8.png);  
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-size: 30% 1000%;
}

.thirdpartparent {
    width: 90%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: row;
    background-image: url(2.png);
    background-size: 55% 50%;
    background-repeat: no-repeat;
    background-position-y: 250px;
    background-position-x:350px;
    position: relative;
}

.thirdpart_div1 {
    width: 24%;
    height: 248px;
    background-color: #8ae4a8;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: 100px;
}

.thirdpart_div2 {
    width: 60%;
    height: 450px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 2px rgb(238, 228, 228);
    box-sizing: border-box;
    padding: 40px 60px 20px 40px;
    margin-top: 600px;
    margin-left: 340px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.thirdpart_div2 h1 {
    color: #359756;
    font-size: 54px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 14px;
}

.thirdpart_div2 p {
    color: #111111;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.thirdpart_div2p a {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-style: none none solid;
    border-color: #111111;
}

.thirdpart_div2 span {
    color: #111111;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.thirdpart_div2 a {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-style: none none solid;
    border-color: #111111;
}

.thirdpart_div2 button {
    width: 30%;
    height: 61px;
    border-radius: 12px;
    background-color: #359756;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 501;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 1px;
    color: white;
    border: none;
}

.fourthpart {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.fourthpartparent {
    width: 80%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fourthpart_div1 {
    width: 90%;
    box-sizing: border-box;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourthpart_div1 h5 {
    color: #111111;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 17px;
}

.fourthpart_div1 h1 {
    color: #359756;
    font-size: 84px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 14px;
}

.fourthpart_div1 p {
    color: #111111;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.fourthpart_div2 {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fourthpart_div2child {
    width: 23%;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back1 {
    width: 150px;
    height: 150px;
    border: 7px solid;
    border-radius: 50%;
    background-image: url(3.jpg);
    background-position: center;
    margin-bottom: 50px;
    border-color: white;
}
.back2 {
    width: 150px;
    height: 150px;
    border: 7px solid;
    border-radius: 50%;
    background-image: url(4.jpg);
    background-position: center;
    margin-bottom: 50px;
    border-color: white;
}
.back3 {
    width: 150px;
    height: 150px;
    border: 7px solid;
    border-radius: 50%;
    background-image: url(5.jpg);
    background-position: center;
    margin-bottom: 50px;
    border-color: white;
}
.back4 {
    width: 150px;
    height: 150px;
    border: 7px solid;
    border-radius: 50%;
    background-image: url(6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    margin-bottom: 50px;
    border-color: white;

}

.fourthpart_div2child p {
    color: #4d4d4d;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    text-align: center;
}

.fourthpart_div2child span {
    color: rgb(17, 17, 17);
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}

.fourthpart_div2child h5 {
    color: #359756;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 14px;
}

.fourthpart_div2child h6 {
    color: #808080;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    text-align: center;
    font-weight: lighter;
}

.fifthpart {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 100px;
}

.fifthpartparent {
    width: 90%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(8.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position-y: center;

}

.fifthpart_div1 {
    width: 49%;
    height: 600px;
    box-sizing: border-box;
    padding: 20px;
}

.fifthpart_div1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fifthpart_div2 {
    width: 45%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 2px rgb(212, 206, 206);
}


.fifthpart_div2 h1 {
    font-size: 62px;
    color: #359756;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1200;
    margin-right: 10px;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-top: 30px;
}

.fifthpart_div2 span {
    color: #111111;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
}

.fifthpart_div2 a {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-style: none none solid;
    border-color: #4bd673;
}


.div21_1 {
    width: 40%;
    height: 70px;
    background-color: #359756;
    color: white;
    font-size: 25px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div21_1 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-style: none;
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(46, 46, 46);
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer p {
    color: white;
}

footer a {
    color: #259bca;
}

